<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="good in goodList" v-bin:key="good.goodName">
                <span>{{good.goodName}}</span>
                --<span>{{good.price}}</span>
                --<span><input type="number" v-model="good.count"/></span>
                --<span>{{good.price*good.count}}元</span>
            </li>
        </ul>
    </div>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                goodList:[
                    {goodName:"猫粮",price:460,count:2},
                    {goodName:"猫砂",price:12,count:3},
                    {goodName:"精灵剥壳梦",price:375,count:1},
                    {goodName:"特斯拉",price:10,count:1}
                ]
            },
    })
    </script>
</body>
</html>